
body{
    background-image: url('https://pic1.zhimg.com/v2-8adb92013592a18317462de329011da4_1440w.jpg?source=172ae18b');
    background-repeat: no-repeat;
    background-size: cover;
}


.login-main{
    background: rgba(255,255,255, 0.9);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 5px 5px 20px #ccc;
    padding: 30px;
}